.column-splitter.row {
  @apply mx-0 max-w-none;
}

.component.container .column-splitter.row {
  @apply px-0;
}

.column-splitter.vertical-align-center {
  .row {
    @apply h-full items-center;
  }
}
