.link-list {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-accent mb-4.5 text-lg;
  }

  ul {
    @apply text-accent-gray flex flex-row flex-wrap gap-2;
  }

  a:hover {
    @apply underline;
  }
}

/* list vertical */
.link-list.list-vertical {
  ul {
    @apply flex-col;
  }
}
